* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

nav {
    width: 100%;
    background-color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}

nav ul li a.active {
    background-color: #007bff;
    color: #fff;
}

nav ul li a:hover {
    background-color: #0056b3;
}

h1 {
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    margin-top: 80px; /* Để tránh bị navbar che */
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Căn giữa các input/label */
    margin-top: 20px;
}

/* Thêm style cho label */
form label {
    align-self: flex-start; /* Căn trái label */
    margin-bottom: 5px;
    font-weight: 600;
    color: #555;
}

input[type="file"],
input[type="text"],
input[type="password"] { /* Thêm input[type="password"] */
    margin-bottom: 15px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease;
    width: 100%; /* Đảm bảo nút cũng full width */
    max-width: 400px; /* Giới hạn chiều rộng của nút */
}

button:hover {
    background-color: #0056b3;
}

/* Định dạng cho thông báo thành công */
.success {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.warning {
    color: #856404;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

textarea {
    width: 100%;
    max-width: 400px;
    height: 200px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    resize: vertical;
}